/* ################ DEFAULTS ############### */

html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 1rem;
    color: #303137;
    margin: 0;
}

/* ################ NAVBAR ############### */

.navbar {
    display: flex;
    padding: 10px;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

.brand, .nav-link, a {
    color: #303137;
}

.brand {
   font-size: 30px; 
}

.sensei {
    color: #66b6d3
}

.topnav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topnav .nav-link, a {
    text-decoration: none;
    padding-left: 20px;
    font-size: 20px;
}

.dropdownLink {
    display: none;
}

/* ################ HEADER ############### */

header {
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: auto;
}

.headshot-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0;
}

.headshot {
    margin: 15px;
    border-radius: 50%;
    max-width: 150px;
    width: 100%;
}

.headshot-wrapper h1, .headshot-wrapper h2 {
   margin: 0;
   padding: 10px;
   font-weight: 600;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 20px;
    color: #aaa;
}

.services {
    background-color: #f1f3fa;
    padding: 4rem 1rem;
}

/* ################ MOBILE ############### */

@media (max-width: 768px) {
    .navbar {
        margin-right: 0;
        width: auto;
    }

    ul.topnav li a.nav-link {
        display: none;
    }

    ul.topnav li.dropdownLink {
        display: block;
        position: absolute;
        top: 12px;
        right: 20px;
    }

    ul.topnav.responsive li.dropdownLink {
        position: absolute;
        top: 12px;
        right: 20px;
    }

    ul.topnav.responsive {
        flex-direction: column;
        text-align: right;
    }

    ul.topnav.responsive li {
        position: relative;
        top: 30px;
        right: 30px;
    }

    ul.topnav.responsive li a.nav-link {
        display: block;
        line-height: 1.5;
    }

   
}













